<div class="radio">
  <div class="card-center">
    <audio id="player" autoplay controls="controls">
      <source src="https://ice.fabricahost.com.br/top100fm" type="audio/mp3"/>
    </audio>
    <h2 class="titulo">TÁ NA TOP, TÁ FELIZ</h2>
  </div>
</div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>HOME</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="promotions">
        <ion-icon name="gift-outline"></ion-icon>
        <ion-label>Promocoes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>


