.container {
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  height: calc(100% - 42px) !important;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  // top: 50%;
  // transform: translateY(-50%);
  background-image: url("../../assets/img/Artboard-1.png"); /* The image used */
  background-color: #FFDE00 !important; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.logo{
  width: 60%;
  height: 30vh;
  position: absolute;
  top: 0px;
  left: 20px;
}

.img-mulher{
  width: 100% !important;
  max-width: 517px;
  height: auto;
  position: absolute;
  bottom: calc( 20vh + 45px);
  padding: 0px 60px;
}
.card-footer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-image: linear-gradient(#ffc700, #ffde00);
  z-index: 1000;
  border-radius: 10px;
  position: fixed;
  bottom: 21vh;
  z-index: 1000;
}

.lista-footer {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

ion-icon {
  color: #0064BA;
  font-size: 30px;
  margin: 2vw;
}
.display-center{
  display: flex;
  justify-content: center;
}
.social-text{
  position: fixed;
  color: #fff;
  text-align: center;
  bottom: 0px;
  text-transform: uppercase;
  font-size: .9em;
}


