.body {
  background-color: #FFDE00;
  position: relative;
}

.ion-page {
  background-color: #FFDE00 !important;
}
#container {
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../../assets/img/Artboard-1.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.logo{
  width: 60%;
  height: 30vh;
  position: absolute;
  top: 0px;
  left: 20px;
}

.img-mulher{
  object-fit: fill;
  width: 100% !important;
  height: 42vh !important;
  position: absolute;
  bottom: calc( 20vh + 140px);
  left: -50px;
  margin-right: 10px;
}

#player {
  position: absolute;
  bottom: 35vh;
}

.card-center {
  position: absolute;
  bottom: 25vh;
}

.card-center h2 {
  color: #0064BA;
  font-style: bold;
}

.card-play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 5px;
  width: 80vw;
  height: 100px;
  background-color: white;
  border-radius: 10px;
}

.play {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  
}
 .imagem {
   width: 90px;
   height: 90px;
 }

 .imagem img {
   object-fit: cover;
   width: 90px;
   height: 90px;
   border-radius: 8px;
 }

 .texto {
   text-align: left;
   padding-left: 10px;

 }

.titulo {
  font-size: 16px !important;
  color: #0064BA !important;
}
.descricao {
  font-size: 14px !important;
}

.control-volume {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-footer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background-image: linear-gradient(#ffc700, #ffde00);
  z-index: 1000;
  border-radius: 10px;
  position: fixed;
  bottom: 6vh;
  z-index: 1000;
}

.lista-footer {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

ion-icon {
  color: #0064BA;
  font-size: 30px;
  margin: 2vw;
}