<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="body" [fullscreen]="true">

  <div class="container">
    <img src="../../assets/img/Artwork-2.svg" alt="" class="logo">
    <img src="../../assets/img/Artboard-2.png" alt="" class="img-mulher">
    <!-- <div class="card-center">
      <audio id="player" autoplay="autoplay" controls="controls">
        <source src="https://ice.fabricahost.com.br/top100fm" type="audio/mp3"/>
      </audio>
      <h2 class="titulo">TÁ NA TOP, TÁ FELIZ</h2>

    </div> -->
  </div>
  <div class="card-footer">
    <div class="lista-footer">
      <div><a href="https://top100fm.com.br/" target="_blank"><ion-icon class="icon" name="globe-outline"></ion-icon></a></div>
      <div><a href="https://www.instagram.com/top100.fm" target="_blank"><ion-icon class="icon" name="logo-instagram"></ion-icon></a></div>
      <div><a href="https://www.youtube.com/channel/UCIiQ97F53_KJRirkYAIZ0rw" target="_blank"><ion-icon class="icon" name="logo-youtube"></ion-icon></a></div>
      <div><a href="https://www.facebook.com/top100fm" target="_blank"><ion-icon class="icon" name="logo-facebook"></ion-icon></a></div>
      <div><a href="https://twitter.com/top100_fm" target="_blank"><ion-icon class="icon" name="logo-twitter"></ion-icon></a></div>
      <div><a href="https://wa.me/556292843335?text=Radio%20Top100FM" target="_blank"><ion-icon class="icon" name="logo-whatsapp"></ion-icon></a></div>
    </div>
  </div>
  <app-explore-container name="Home"></app-explore-container>
</ion-content>

